html,body {
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	padding: 15px;
}

header a {
	color: #fff;
	padding: 0 15px;
}

.slider {
	margin-top: 15px;
	background-color: blue;
	color: #fff;
	padding: 15px;
	font-size: 42px;
}

.text-center {
	text-align: center;
}

.row {
	display: flex;
	flex-direction: row;
}

.film {
	margin: 0 5px;
	padding: 15px;
	border: 1px solid #000;
}

.film h3 {
	text-align: center;
}

.film img {
	width: 100%;
}

.film .description {
	color: #777;
}

footer {
	margin-top: 15px;
	padding: 15px;
	background-color: #000;
	color: #fff;
	font-size: 12px;
}

.btn {
	padding: 7px 12px;
	font-size: 14px;
	border: none;
	border-radius: 4px;
}

.btn:hover {
	cursor: pointer;
}

.btn.btn-pay {
	background-color: orange;
	color: #fff;
}

.btn.btn-pay:hover {
	background-color: orangered;
}

.btn.btn-favorite {
	background-color: blue;
	color: #fff;
}

.btn.btn-favorite:hover {
	background-color: darkblue;
}

.btn.btn-cart {
	background-color: red;
	color: #fff;
}

.btn.btn-cart:hover {
	background-color: darkred;
}

.btn-group {
	text-align: center;
	/*display: flex;
	justify-content: space-between;*/
}

nav ul {
	display: flex;
}

header a:hover {
	color: yellow;
}
